@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.donate-icon{
  width: 80%;
  margin: auto;
  margin-bottom: -40px;
  text-align: center;
}

.donate-icon img{
  margin-top: 130px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
  border-radius: 55%;

}


.text-container{
    display: grid;
    grid-template-columns: 1fr;
    padding: 10%;
    /* margin-top: 50px; */
}

.text-container div{
    /* border: 1px solid black; */
    text-align: center;
}

.join-community-button{
    color: #2A3787;
    font-weight: 400;
    /* width: 89%; */
    font-family: 'Poppins';
    margin-top: 3%;
    background-color: #FFD20E;
    padding: 7px 14px;
    border: none;
    border-radius: 5px;
    font-size: 0.8em;
    cursor: pointer;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    /* Shadow effect */
    transition: all 0.3s ease;
  }
  
  .join-community-button:hover {
    background-color: white;
    color: #2A3787;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
    transform: translateY(-3px);
  }
  
  .join-community-button:active {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    /* Smaller shadow on click */
    transform: translateY(2px);
    /* Slightly lowers the button on click */
  }

  .kkk-heading{
    font-family: 'Poppins';
    font-size: 1.3em;
    /* margin: 0; */
    padding: 0;
    color: #EE3161;
    font-weight: 700;
    margin-bottom: 7%;
  }

  #kkk-h{
    margin-bottom: -10px;
    font-weight: 900;
  }

  .donate-to-start{
    font-family: 'Poppins';
    font-size: 1em;
    color: #2A3787;
    padding: 0;
    font-weight: 400;
    line-height: 1.5;
  }

  .donate-to-starts{
    font-family: 'Poppins';
    font-size: 0.95em;
    color: #2A3787;
    padding: 0;
    margin: 0;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 7%;
  }

  .kkk-para{
    font-family: 'Poppins';
    font-size: 0.8em;
    margin: 0;
    padding: 0;
  }

  #getinvolved-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
  }

  #getinvolved-form input{
    width: 89%;
    margin-bottom: 10%;
    border: none;
    border-bottom: 1px solid black;
    height: 40px;
  }

  #checkbox-tick{
    display: flex;
  }

  #check{
    max-height: 10px;
   max-width: 10px; 
    margin-top: 3px;
    padding: 0;
   }

  #small-info{
    font-family: 'Poppins';
    font-size: 0.6em;
    color: #222529;
    margin-bottom: 10px;
  }

  #check-label{
    font-family: 'Poppins';
    font-size: 0.6em;
    margin-left: 2px;
    color: #222529;
  }

  #dob{
    font-family: 'Poppins';
    font-size: 0.9em;
    color: #222529;
  }

  #dob-input{
    width: 80%;
    font-family: "Poppins";
    color: rgb(118, 118, 118);
  }


  .continue-to-payment{

    color: #2A3787;
    font-weight: 400;
    /* width: 69%; */
    font-family: 'Poppins';
    margin-top: 3%;
    background-color: #FFD20E;
    padding: 7px 14px;
    border: none;
    border-radius: 5px;
    font-size: 0.8em;
    cursor: pointer;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    /* Shadow effect */
    transition: all 0.3s ease;
    margin-bottom: 10%;
  }
  
  .continue-to-payment:hover {
    background-color: white;
    color: #2A3787;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
    transform: translateY(-3px);
  }
  
  .continue-to-payment:active {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    /* Smaller shadow on click */
    transform: translateY(2px);
    /* Slightly lowers the button on click */
  }

  .input-div{
    display: flex;
    width: 89%;
     justify-content: space-around;
  }

  input::placeholder{
    font-family: 'Poppins';
  }

  .custom-input {
    font-family: "Poppins";
    font-size: 0.5em;
  }