@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.containers {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 10%;
  text-align: center;
  font-family: 'Poppins';
}

.containers div p {
  color: #323437;
  font-size: 0.83em;
  margin-top: 3%;
}
#they-become-con-pro{
  font-weight: 600;
  color: #2A3787;
}

#we-go-beyond{
  font-weight: 600;
  color: #2A3787;
}

#steady-earning-opp{
  font-weight: 600;
  color: #2A3787;
}

#new-trends-family{
  font-weight: 600;
  color: #2A3787;
}
#dalit{
  margin-top: 5%;
}

#tribe-p{
  margin-bottom: 3%;
}

.poem-para p span {
  font-style: italic;
}

.poem-para{
  margin-bottom: 10%;
}

.headings {
  margin-top: 30px;
  margin-bottom: -12px;
}

#sajhe-sapne {
  margin-top: 10%;
  color: #EE3161;
  margin-bottom: 4%;
  padding: 0;
  font-family: "Poppins";
  font-size: 1.5em;
}

#learn-earn-excel {
  color: #2A3787;
  font-weight: bold;
}


#kkk {
  color: #2A3787;
  font-size: 1.4em;
  font-weight: 800;
  margin: 0;
  font-family: 'Poppins';
}

#campaign {
  color: #EE3161;
  margin: 0;
  padding: 0;
  font-family: "Poppins";
  font-size: 1.2em;
  margin-bottom: 5%;

}

#launching {
  color: #EE3161;
  font-size: 1.4em;
  /* font-weight: 600; */
  font-family: Poppins;
  margin: 0;
}

#livelihoods {
  color: #EE3161;
  margin: 0;
  padding: 0;
  font-family: "Poppins";
  font-size: 1.5em;
  margin-bottom: 5%;

}

#finguring-out {
  color: #2A3787;
  font-size: 1.4em;
  font-weight: 600;
  font-family: Poppins;
  margin: 0;
}

#stories {
  color: #EE3161;
  margin: 0;
  padding: 0;
  font-family: "Poppins";
  font-size: 1.3em;
  margin-bottom: 5%;

}

.kkkillus-div {
  height: auto;
  width: 115%;
  margin: 0 -7% 0% -7.5%;
}


.kkkillus-div img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.mypic-div {
  height: auto;
  width: 115%;
  margin: 0 -7% 0% -7.5%;
}

.mypic-div img {
  width: 98%;
  height: auto;
  object-fit: cover;
}


.scooty-girl-div {
  height: auto;
  width: 115%;
  margin: 0 -7% 0% -7.5%;
}

#scooty-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.button {
  color: #2A3787;
  font-weight: 400;
  font-family: 'Poppins';
  background-color: #FFD20E;
  padding: 7px 14px;
  border: none;
  border-radius: 9px;
  font-size: 0.8em;
  cursor: pointer;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
  margin-bottom: 16%;
  margin-top: 14px;
}

.button:hover {
  background-color: white;
  color: #2A3787;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
  transform: translateY(-3px);
}

.button:active {
  background-color: #FFD20E;
  color: #2A3787;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  transform: translateY(2px);
}



@media (hover: none) and (pointer: coarse) {
  .button {
    background-color: #FFD20E;
    color: #2A3787;
  }

  .button:active {
    background-color: white;
    color: #2A3787;
  }
}