.custom-layout {
    width: 100%;
    max-width: 1200px;
    margin: auto;
  }
  
  .first-section, .second-section {
    display: flex;
    margin-bottom: 20px;
  }
  
  .first-section .image-card, .second-section .image-card {
    width: 50%;
    height: 400px;
    background: #ddd; /* Placeholder for image */
    border-radius: 10px;
    margin-right: 20px;
  }
  
  .first-section .about-section, .second-section .who-section {
    width: 50%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .about-section h2, .who-section h2 {
    font-size: 24px;
    /* margin-bottom: 10px; */
    width: 40%;
margin: auto;
  }
  
  .about-section p, .who-section p {
    font-size: 16px;
    /* margin-bottom: 20px; */
    width: 40%;
    margin: auto;
  }
  
  .learn-more-btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .middle-banner, .text-banner {
    background-color: #cce7ff;
    padding: 10px 0;
    text-align: center;
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .supporters-section {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .supporters-section h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .supporters-logos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .supporters-logos img {
    width: 100px;
    height: auto;
  }
  
  .video-section {
    text-align: center;
    margin-top: 20px;
  }
  
  .video-section img {
    width: 100%;
    max-width: 600px;
    border-radius: 10px;
  }
  
  .video-section p {
    font-size: 16px;
    margin-top: 10px;
  }
  

  .supports-img{
    width: 90%;
  }