.navbar {
    font-size: 20px;
    display: flex;
    justify-content: space-evenly;
    background-color: gainsboro;
    height: 50px;
    align-items: center;
}

.navbar a {
    text-decoration: none;
    color: black;
}