@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

#logo-desktop {
    margin-top: 18px;
    height: 60px;
    cursor: pointer;
}

/* pink navbar */
.nav-contact-div {
    background-color: #EE3161;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    font-family: 'Poppins';
}

.nav-contact-div ul {
    display: flex;
    margin-left: 330px;
    /* width: 50%; */
    /* background-color: blueviolet; */
}

.ft-icon-div ul {
    display: flex;
    margin-left: 60px;
    list-style: disc;
    /* Ensure bullet points are shown */
}

.ft-contacttext-div ul li {
    margin-right: 40px;
    color: white;
    padding-left: 18px;
}

.ft-icon-div ul li {
    margin-right: 50px;
    color: white;
    padding-left: 30px;
    padding-top: 20px;

}


.nav-contact-div p {
    /* color: whitesmoke; */
    color: white;
}


/* Grey navbar */
.nav-links-div {
    font-family: 'Poppins';
    background-color: whitesmoke;
    display: flex;
    justify-content: space-around;
    text-align: center;
    /* justify-content: center; */
}

.nav-links-div ul {
    display: flex;

}

.no-bullet-in-nav {
    list-style: none;
    margin-right: 30px;
}



.nav-icon {
    width: 30px;
    height: 30px;
    /* Ensure consistent size */
    object-fit: contain;
}

.nav-links-div ul li {
    margin-right: 40px;
    list-style: none;
    font-size: 1.4em;
    font-weight: 400;
}

.nav-links-div ul li a {
    text-decoration: none;
}

.nav-links-div ul a li:hover {
    color: #EE3161;
    /* background-color: #FFD20E; */
}


#nav-get-involved-btn {
    background-color: #FFD20E;
    border: none;
    color: #2A3787;
    height: 40px;
    width: auto;
    border-radius: 5px;
    font-size: 18px;
    font-family: 'Poppins';
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    padding: 7px 14px;
    margin-top: 15px;
    cursor: pointer;
}





/* Desktop Layout */
@media (min-width: 1301px) and (max-width: 4000px) {

    .hamburger-div {
        display: none;
    }

}

@media (max-width: 1300px) {

    .nav-links-div {
        display: none;
    }

        .nav-contact-div {
        display: none;
    }


    .hamburger-div {
        height: 100px;
        background-color: whitesmoke;
        position: fixed;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        top: 0;
        width: 100%;
        z-index: 1000;
    }

    body {
        margin: 0;
        padding: 0;
        /* padding-top: ; */
    }

    #logo {
        height: 50px;
        cursor: pointer;
    }

    #donte-now-button {
        background-color: #FFD20E;
        border: none;
        color: #2A3787;
        height: 35px;
        width: 100%;
        border-radius: 5px;
        font-size: 13px;
        font-family: 'Poppins';
        box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
        transition: all 0.3s ease;
        padding: 7px 14px;
    }

   
}