@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.hindi {
    font-family: "Noto";
    /* font-weight: 900; */
    /* font-style: normal; */
    /* color: aquamarine;  */
}

* {
    margin: 0;
    padding: 0;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 130px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
}


/* Pink navbar */
.pinknav-div {
    background-color: #EE3161;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins';
    height: 37px;
}


.contact-text-div ul li {
    margin-right: 40px;
    color: white;
    padding-left: 18px;
}



.pinknav-div ul {
    display: flex;
    margin-left: -180px;
}

.social-icon-div ul {
    display: flex;
    margin-left: 190px;
    list-style: disc;
}

.social-icon-div ul {
    list-style: none;
}

.social-icon-div ul li {
    position: relative;
    margin: 0 15px;
    text-align: center;
    color: white;
    padding: 7px 20px;

}

.social-icon-div ul li::before {
    content: '•';
    position: absolute;
    left: -20px;
    color: white;
    font-size: 20px;
}


.nav-icon {
    width: 30px;
    height: 30px;
}




/* Grey navbar */
.greynav-div {
    font-family: 'Poppins';
    background-color: whitesmoke;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
}

.no-bullet-in-nav {
    list-style: none;
    margin: 0;
    padding: 0;
}

.greynav-div ul {
    display: flex;
    padding: 0;
    text-align: center;
}

.greynav-div ul li {
    margin-right: 40px;
    list-style: none;
    font-size: 1.3em;
    font-weight: 400;
}

#symbol {
    margin-top: 5px;
    font-size: 2.1em;
}

#get-involved {
    margin-top: 15px;
}

.greynav-div ul li p {
    font-size: 1em;
    font-weight: 500;
}

.greynav-div ul li:hover {
    color: #EE3161;
    font-weight: 500;
}

#donte-now-button {
    background-color: #FFD20E;
    border: none;
    color: #2A3787;
    height: 35px;
    width: 100%;
    border-radius: 5px;
    font-size: 13px;
    font-family: 'Poppins';
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    padding: 7px 14px;
}

body {
    margin-top: 70px;
}





/* Media Queries */
@media (max-width: 1450px) {
    .greynav-div {
        display: none;
    }

    .pinknav-div {
        display: none;
    }

    .hamburger-div {
        height: 100px;
        background-color: whitesmoke;
        position: fixed;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        top: 0;
        width: 100%;
        z-index: 1000;
    }

    #logo {
        height: 50px;
        cursor: pointer;
    }

    #logo-desktop {
        display: none;
    }

    .hamburger {
        display: block;
    }
}

@media (min-width: 1451px) and (max-width: 1800px) {
    #logo-desktop {
        height: 50px;
        /* margin-left: 130px; */
    }

    .hamburger-div {
        display: none;
    }
}

/* my laptop screen */
@media (min-width: 1801px) and (max-width: 2000px) {
    #logo-desktop {
        height: 50px;
        margin-left: -70px;
    }

    .contact-text-div {
        margin-left: -140px;
    }

    .greynav-div ul li {
        margin-right: 60px;
        list-style: none;
        font-size: 1.4em;
        font-weight: 400;
    }

    .greynav-div ul li p {
        font-size: 1.1em;
        font-weight: 500;
    }


    #get-involved {
        margin-top: 15px;
        margin-right: -70px;
        margin-left: 60px;
    }


    .hamburger-div {
        display: none;
    }
}


@media (min-width: 2001px) {
    #logo-desktop {
        height: 70px;
        margin-left: -170px;
    }

    .hamburger-div {
        display: none;
    }
}